/* Estilos generales para el nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 60px; /* Altura del navbar */
    background-color: #1e293b; /* Azul oscuro */
    display: flex;
    justify-content: space-between; /* Distribuir elementos entre sí */
    align-items: center;
    padding: 0 20px; /* Espaciado de los lados */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Logo */
.logo img {
    width: 120px;
}

/* Estilos de los enlaces horizontales */
.nav-links {
    list-style: none;
    padding: 0;
    display: flex; /* Para que los enlaces se distribuyan en línea */
    gap: 20px; /* Espacio entre los enlaces */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    background: none;
    cursor: pointer;
    text-align: center;
}

.nav-links a:hover {
    background-color: #2d3b4f;
}

.nav-links .active {
    background-color: #2563eb;
}

/* Estilos de los enlaces verticales */
.vertical-links {
    list-style: none;
    padding: 0;
    position: fixed;
    left: 0;
    top: 60px; /* Inicia debajo del navbar horizontal */
    width: 200px; /* Ancho del menú vertical */
    background-color: #1e293b; /* Azul oscuro */
    display: flex;
    flex-direction: column; /* Para que los elementos estén uno debajo del otro */
}

.vertical-links li {
    display: block;
}

.vertical-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    background: none;
    cursor: pointer;
}

.vertical-links a:hover {
    background-color: #2d3b4f;
}

/* Botón de logout */
.logout-form {
    display: flex;
    align-items: center;
}

.logout-form button {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    background: none;
    cursor: pointer;
}

.logout-form button:hover {
    background-color: #2d3b4f;
}

/* Ajuste del contenido principal */
/* Ajuste del contenido principal */
.main-content {
    margin-left: 200px; /* Espacio para el sidebar vertical */
    padding-top: 60px; /* Espacio para el navbar superior */
    padding: 20px;
}
